@font-face {
	font-family: 'Circular Medium';
	src: url(/fonts/circular/circular-medium.ttf);
}

@font-face {
	font-family: 'Circular Book';
	src: url(/fonts/circular/circular-book.otf);
}

@font-face {
	font-family: 'Circular Bold';
	src: url(/fonts/circular/circular-bold.otf);
}

@font-face {
	font-family: 'Circular Light';
	src: url(/fonts/circular/circular-light.ttf);
}

:root {
	--grey-med: #ddd;
	--grey-light: #f7f7f7;
	--grey-text-light: #717171;
	--grey-text-dark: #222;
	--pink: #ff385c;
}

* {
	box-sizing: border-box;
}

body {
	color: rgb(34, 34, 34);
	font-family: 'Circular Book';
	margin: 0;
	font-size: 14px;
	letter-spacing: normal;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
}

.header {
	height: 80px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 2;
	background: white;
	&__logo,
	&__nav {
		flex: 1 0 140px;
	}
	&__search {
		display: inline-flex;
		border-radius: 24px;
		overflow: hidden;
		align-items: center;
		border: 1px solid var(--grey-med);
		transition: box-shadow 0.2s ease;
		&:hover {
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
		}
		button {
			background: transparent;
			height: 48px;
			padding: 0 16px;
			display: flex;
			align-items: center;
			border: none;
			font-family: 'Circular Medium';
			cursor: pointer;
			&:first-of-type {
				padding-left: 24px;
			}
			&:last-of-type {
				padding-right: 7px;
			}
		}
		span {
			width: 1px;
			height: 24px;
			background: var(--grey-med);
		}
	}
	&__searchIcon {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: var(--pink);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 16px;
		img {
			width: 12px;
			height: 12px;
		}
	}
	&__nav {
		display: flex;
		justify-content: flex-end;
		&__button {
			background: transparent;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 16px;
			border-radius: 22px;
			cursor: pointer;
			text-decoration: none;
			color: rgb(34, 34, 34);
			height: 48px;
			&-greyHover {
				&:hover {
					background: var(--grey-light);
				}
			}
			&-account {
				border: 1px solid var(--grey-med);
				height: 42px;
				border-radius: 22px;
				padding: 5px 5px 5px 12px;
				transition: box-shadow 0.2s ease;
				&:hover {
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
				}
				img {
					&:first-child {
						height: 16px;
						width: 16px;
					}
					&:last-child {
						width: 30px;
						height: 30px;
						margin-left: 12px;
					}
				}
			}
			&-language {
				img {
					&:first-child {
						width: 16px;
						height: 16px;
					}
					&:last-child {
						width: 9px;
						height: 6px;
						margin-left: 6px;
					}
				}
			}
		}
	}
}

.main {
	position: relative;
	padding-top: 80px;
	&__map {
		background: pink;
		width: calc(100% - 840px);
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}
	&__googleMap {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: sticky;
		top: 0;
	}
	&__content {
		min-height: calc(100vh - 80px);
		width: 840px;
		padding: 60px 24px 0;
		h1 {
			margin-top: 18px;
			font-size: 34px;
		}
	}
	&__filters {
		padding-top: 15px;
		button {
			margin-right: 6px;
		}
	}
	&__scarcity {
		display: flex;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 20px;
		img {
			margin-right: 15px;
		}
		span {
			span {
				font-family: 'Circular Bold';
			}
		}
	}
}

button {
	padding: 8px 16px;
	outline: none;
	background: transparent;
	margin: 0;
	&.outlined {
		border: 1px solid #b0b0b0;
		&:hover {
			border-color: var(--grey-text-dark);
		}
	}
	&.curved {
		border-radius: 30px;
	}
}

.listings {
	&__details {
		display: flex;
		justify-content: space-between;
		margin-top: auto;
	}
	&__price {
		text-align: right;
		display: flex;
		flex-direction: column;
		&__night {
			font-size: 18px;
			font-family: 'Circular Bold';
			span {
				color: #484848;
				font-family: 'Circular Book';
			}
		}
		&__total {
			font-size: 14px;
			color: var(--grey-text-light);
			text-decoration: underline;
			margin-top: 2px;
		}
	}
	&__rating {
		display: flex;
		margin-top: auto;
		img {
			width: 14px;
			margin-right: 4px;
		}
		span {
			font-family: 'Circular Medium';
			span {
				font-family: 'Circular Book';
				color: var(--grey-text-light);
			}
		}
	}
	&__description {
		padding-top: 15px;
		span {
			display: block;
			margin-bottom: 5px;
		}
	}
	&__item {
		border-top: 1px solid #ebebeb;
		padding: 24px 0;
		display: flex;
		&:hover {
			.listings__image {
				button {
					opacity: 0.7;
				}
			}
		}
	}
	&__image {
		width: 300px;
		height: 200px;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		&-superHost {
			&:before {
				position: absolute;
				content: 'SUPERHOST';
				background: white;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
				border-radius: 4px;
				padding: 4px 8px;
				top: 10px;
				left: 10px;
				letter-spacing: 0.48px;
				font-size: 12px;
				font-family: 'Circular Medium';
				text-transform: uppercase;
			}
		}
		button {
			position: absolute;
			top: 50%;
			width: 32px;
			height: 32px;
			background: white;
			border-radius: 50%;
			overflow: hidden;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			opacity: 0;
			transition: 0.1s ease-in;
			cursor: pointer;
			&:hover {
				opacity: 1 !important;
			}
			img {
				width: 10px;
				height: 10px;
			}
			&:first-of-type {
				left: 10px;
			}
			&:last-of-type {
				right: 10px;
			}
		}
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	&__title {
		display: flex;
		justify-content: space-between;
		button {
			background: none;
			border: none;
			outline: none;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0;
			cursor: pointer;
			&:hover {
				&:after {
					opacity: 1;
				}
			}
			&:after {
				opacity: 0;
				background: var(--grey-light);
				position: absolute;
				content: '';
				width: 48px;
				height: 48px;
				border-radius: 50%;
				z-index: -1;
			}
		}
		h2 {
			font-size: 18px;
			font-family: 'Circular Book';
			color: var(--grey-text-dark);
			margin: 5px 0 15px;
			font-weight: 400;
		}
	}
	&__content {
		width: calc(100% - 300px);
		padding-left: 15px;
		display: flex;
		flex-direction: column;
	}
}

.greyText {
	font-size: 14px;
	line-height: 18px;
	color: var(--grey-text-light);
	font-family: 'Circular Light';
}

.separator {
	width: 32px;
	height: 1px;
	background: var(--grey-med);
}

footer {
	background: var(--grey-light);
	border-top: 1px solid var(--grey-med);
	padding: 30px 0;
	.container {
		max-width: 1200px;
		display: flex;
		margin: auto;
		justify-content: space-between;
	}
	h4 {
		text-transform: uppercase;
		font-size: 12px;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			margin-bottom: 15px;
			font-family: 'Circular Book';
		}
	}
}

#map {
	height: 100%;
	width: 100%;
}
